*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}


.Nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10vw;
    gap: 45px;
    position: fixed;
    z-index: 99;
}

.Nav img{
    height: 70px;
    width: 120px;
   
}

.Nav h4{
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.Nav h4:hover{
    color:orange ;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.Main{
    position: relative;

    background-color: rgb(0,0,0,0.315);
}

#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#page1 h2{
    font-size: 90px;
    font-weight: 1000px;
    position: relative;
}

#page1 h2::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px red ;
    z-index: -1;
}
#page1 h4{
    font-size: 30px;
    font-weight: 800px;
    margin: 2vh 0vh;
}

#page1 p{
    width: 40%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}